body {
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#root {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

#root div {
  width: 100%;
}

h1, h2 {
    margin-left: 5%;
    margin-right: 5%;
}

.white {
    color: white;
}

.black {
    color: black;
}

button {
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
}

.light-button {
    background-color: rgba(255,255,255,0.5);
    color: rgb(0,0,0);
}

.dark-button {
    background-color: rgba(0,0,0,0.5);
    color: rgb(255,255,255);
}